body,h3{
	margin:0;
}
a{
	text-decoration:none;
}
ul,li{
	padding:0;
	margin:0;
	list-style:none;
}
body{
	font:12px "宋体";
}
img{
	vertical-align:top;
	border:none;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.box{
	width:973px;
	height:424px;
}
.item{
	width:140px;
	height:414px;
	border:1px solid #dddddd;
	border-top:2px solid #ace07e;
	padding:3px 11px 0 10px;
	margin-right:-1px;
}
.item .head{
	height:38px;
}
.head .title a{
	margin-left:40px;
	font:16px/38px "宋体";
	color:#a4ba7c;
	text-align:center;
}
.content{
	width:140px;
	height:265px;
	border-bottom:1px dashed #dbdbdb;
}
.content .top{
	width:140px;
	height:123px;
	margin-bottom:7px;
}
.top img{
	border:1px solid #e2ddd7;
}
.top .name{
	font:14px/24px "宋体";
}
.top span{
	font:12px/22px "宋体";
	display:inline-block;
	margin-top:3px;
}
.top .top_right{
	margin-top:7px;
}
.item .top1{
	height:96px;
	padding-top:7px;
	
}
.top1 .name{
	height:42px;
	padding-top:4px;
	
}
.name a{
	font:14px/28px "宋体";
	margin-right:1px;
	
}
.name span{
	font:12px/22px "宋体";
	color:#a9a9a9;
	display: inline-block;
	margin-top:3px;
}
.name .bottom{
	line-height:20px;
	display: block;
	margin-top:0;
}
