body,h3,p{
	margin: 0;
	padding: 0;
}
ul,li{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	text-decoration: none;
}
.clearfix{
	zoom: 1;
}
.clearfix:after{
	content: "";
	display: block;
	clear: both;
}
.box{
	width: 696px;
	height: 629px;
	margin: 50px auto;
}
.box .head{
	height: 36px;
	border-bottom: 1px solid #dddddd;
}
.box .head h3,.box .head h3 a{
	float: left;
	width: 76px;
	height: 36px;
}
.box .head h3 a{
	text-indent: -99999px;
	background: url(../img/new.png) no-repeat;
}
.box .head .more,.box .head .more a{
	width: 63px;
	font: 12px/14px "微软雅黑";
	color: #825d5b;
}
.box .head .more{
	float: right;
	margin-top: 12px;
}
.box .content{
	margin-top: 23px;
	height: 569px;
	margin-right: -36px;
}
.box .content li{
	width: 110px;
	height: 277px;
	float: left;
	margin-right: 36px;
}
.box .content li .tu{
	display: inline-block;
	width: 110px;
	height: 164px;
}
.box .content li .name{
	font: bold 14px/21px "宋体";
	color: #825d5b;
	display: block;
}
.box .content li .name span{
	font: bold 12px/21px "宋体";
	color: #999999;
}
.box .content li .info{
	font: 12px/18px "宋体";
	color: black;
}
.box .content li .price{
	font: 12px/12px "宋体";
	color: #825d5b;
	display: block;
	margin-top: 8px;
}