body{
    background: url("img/background.jpg") no-repeat;
    background-size:  100%;
    text-align: center;
}

h1{
    display: inline-block;
    z-index: 0;
    position: relative;
    margin:0 0 0 9px;
    font-size: 46px;
    color: #fff;
}

h1:before{
    z-index: -1;
    position: absolute;
    content: '';
    display: block;
    width: 26%;
    height: 77%;
    background-color: #fff;
    border-radius: 100%;
    margin: 7% 0 0 -10%;
}

h1::first-letter {
    color: #1C9ABE;
    font-size: 120%;
}

/*电脑*/
.computer{
    position: absolute;
    left:0;
    right:0;
    margin: 60px auto;
    width: 500px;
    height: 400px;
    background: url("img/computer.png") no-repeat;
    background-size: 500px 400px;
}

/*图片*/
.img{
    position: relative;
    width: 430px;
    height: 225px;
    margin: 32px 36px;
    background: url("img/person_infrontof_computer.jpg");
    background-size: 430px 225px;
}

/*放大镜*/
.magnifier{
    position: absolute;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    background-color: #0a8cd2;
    opacity: 0.6;
}

/*放大的图像*/
.enlarged-image{
    display: none;
    position: absolute;
    border-radius: 100%;
    top: 0;
    right: -420px;
    width: 400px;
    height: 400px;
    background: url("img/person_infrontof_computer.jpg") no-repeat;
    background-position: 0 0;
    background-size: 4300px 2250px;
}